@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900;1000&family=Chivo+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&family=Great+Vibes&family=Italiana&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sofia+Sans+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sorts+Mill+Goudy:ital@0;1&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #e62c13;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  position: relative;
  padding: 20px;
}
body .logos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  margin-bottom: -10px;
}
body .logos::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -50%) rotate(45deg);
}
body img.mz-logo {
  height: 40px;
}
body img.brand-icon {
  height: 40px;
}
body img.brandname {
  width: 210px;
}
body h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  width: 70%;
  font-weight: 600;
  line-height: 50px;
}
body .apps-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  flex-wrap: wrap;
  gap: 0;
  margin-bottom: 20px;
  height: 500px;
  overflow: hidden;
  overflow-y: scroll;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body .apps-cont::-webkit-scrollbar {
  width: 10px;
}
body .apps-cont::-webkit-scrollbar-track {
  background: transparent;
}
body .apps-cont::-webkit-scrollbar-thumb {
  background: #fff;
}
body .apps-cont::-webkit-scrollbar-thumb:hover {
  background: #fff;
}
body .apps-cont a {
  text-decoration: none;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90px;
  height: 90px;
  position: relative;
  gap: 10px;
  margin-top: 30px;
}
body .apps-cont a::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  background: #fff;
  top: -20%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  transition: 1s ease-in-out all;
  opacity: 0;
}
body .apps-cont a:hover img {
  transform: translateY(0);
}
body .apps-cont a:hover span {
  transform: translateY(0px);
  opacity: 1;
}
body .apps-cont a:hover::before {
  opacity: 1;
}
body .apps-cont a img {
  height: 60px;
  transform: translateY(10px);
  transition: 0.5s ease-in-out all;
  z-index: 111111;
}
body .apps-cont a span {
  transform: translateY(-30px);
  transition: 0.5s ease-in-out all;
  opacity: 0;
}
body .app_window_container {
  position: absolute;
  background: rgba(230, 44, 19, 0.1);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  z-index: 100000000000000000000000000000000000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 0;
  height: 0;
  bottom: 0;
  transition: 0.5s ease-in-out all;
}
body .app_window_container.active {
  width: 100%;
  height: 100%;
}
body .app_window_container .app_window {
  width: 700px;
  height: 500px;
  background: rgba(230, 44, 19, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
body .app_window_container .app_window .app_logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
body .app_window_container .app_window .app_logo img {
  width: 50px;
}
body .app_window_container .app_window .app_logo span {
  font-size: 35px;
  color: #fff;
}
body .app_window_container .app_window .close_btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  color: #fff;
  transition: 0.5s ease-in-out all;
  cursor: pointer;
}
body .app_window_container .app_window .close_btn:hover {
  background: #fff;
  color: #e62c13;
}
body .app_window_container .app_window .app_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
body .app_window_container .app_window .app_btns a {
  width: 40px;
  height: 40px;
  text-decoration: none;
}
body .app_window_container .app_window .app_btns a span {
  font-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .app_window_container .app_window .app_btns a span.material-symbols-outlined {
  color: #fff;
  transition: 0.5s ease-in-out all;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body .app_window_container .app_window .app_btns a span:hover.material-symbols-outlined {
  color: #e62c13;
  background: #fff;
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
}
body .app_window_container .app_window .demo_display {
  margin-top: 20px;
}
body .app_window_container .app_window .demo_display .demo {
  width: 600px;
  height: 320px;
}
body .app_window_container .app_window .demo_display .demo .demo_cont {
  width: 100%;
  height: 100%;
  position: relative;
}
body .app_window_container .app_window .demo_display .demo .demo_cont img {
  width: 100%;
  position: absolute;
}
body .app_window_container .app_window .demo_display .demo .demo_cont video {
  top: 6px;
  left: 78px;
  width: 444px;
  position: absolute;
}/*# sourceMappingURL=styles.css.map */